<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		<form method="POST" action="/posts">
			<label>Title</label>
			<br>
			<input type="text" name="name">
			<br>
			<label>Content</label>
			<br>
			<textarea rows="8" cols="80" name="content">Get Started!</textarea>
			<br>
			<input type="submit" name="Submit" id = "submit">
		</form>
	</body>
</html>